.env/
first_django/blog/migrations
first_django/comment/migrations
student/advisor/migrations
student/student/migrations
manage.py
requirments.txt
GDSCBlog/GDSCBlog/__pycache__
student/student/__pycache__